@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div>
        <img src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/360ae151e5f918b55154333beecbcf54" />
        <p class="lead">
            Wimsatt Building Materials is a company that sells steep slope & low slope roofing, exterior cladding, windows & doors, and general building materials.
            Serving builders and contractors across Michigan and Northern Ohio, their focus is on high qaulity standards. Wimsatt Headquarters is located in Wayne, Michigan.
        </p>
        @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
        {
            <p>
                <a class="btn btn-default" href="~/ClientModels/Create">New Client &raquo;</a>
                <a class="btn btn-default" href="~/Invoice/Create">New Invoice &raquo;</a>
            </p>
        }
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Check out all of the products we have to offer and find exactly what you need based on detailed categories and specifications.
        </p>
        <p><a class="btn btn-default" href="http://wimsattdirect.com/products.php">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Check out all of the services we have to offer including: Reliable Delivery, Consulting, Estimating, Showrooms, Will Call, Seamless Gutter, and Insulation Blowers.</p>
        <p><a class="btn btn-default" href="http://wimsattdirect.com/services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>With 8 locations servicing all of Michigan and Northern Ohio, each location comes with the promise of the Wimsatt Gold Standard Service and a professional, spacious showroom for you to bring clients to for product selection.</p>
        <p><a class="btn btn-default" href="http://wimsattdirect.com/locations">Learn more &raquo;</a></p>
    </div>
</div>